<div class="card">
	<div class="card-body text-center">
		<h5 class="card-title">
			{% if users != null %}
				{% if users|length == 1 %}
					<i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>
					Utilisateur</h5>
			{% else %}
				<i class="fa fa-user-circle fa-fw" aria-hidden="true"></i>
				Utilisateurs</h5>
		{% endif %}
		{% for user in users %}
			<a href="/u/{{ user.username }}">
				<span class="badge rounded-pill bg-primary">{{ user.username }}</span>
			</a>
		{% endfor %}
	{% else %}
		<div class="alert alert-info">
			<i class="fa fa-frown-o fa-fw" aria-hidden="true"></i>
			Aucun compte utilisateur n'a de photos publiques sur cette instance...
		</div>
	{% endif %}
</div></div>
