<div class="row">
	<div class="col">
		{{ render(controller('App\\Controller\\GalleryController::userList')) }}
	</div>
	<div class="col-7">
		{% include 'partials/main.html.twig' %}
	</div>
	<div class="col">
		{% include 'partials/userbar.html.twig' %}
	</div>
</div>
