<div class="row">
    <div class="col">
      {% include 'partials/gallerybar.html.twig' %}
    </div>
    <div class="col-7">
      {% include 'partials/gallery.html.twig' %}
    </div>
    <div class="col">
      {% include 'partials/userbar.html.twig' %}
    </div>
  </div>