 <header>
    <div class="d-flex flex-column align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4"><i class="fa fa-picture-o fa-fw" aria-hidden="true"></i> Galerie photo INSSET</span>
      </a>
    </div>
  </header>