<h1>Bienvenue sur Galerie photo INSSET</h1>
{% if (randomUser != null) %}
	<div class="alert alert-info">
		<i class="fa fa-picture-o fa-fw" aria-hidden="true"></i>
		La galerie photo de
		<a href="/u/{{ randomUser.username }}"><span class="badge rounded-pill bg-primary">{{ randomUser.username }}</span></a>
		a été sélectionnée aléatoirement pour vos petits yeux.
	</div>
	<div class="row justify-content-md-center">
		{% for image in randomUser.images %}
			<div class="d-flex col-xl-3 col-lg-3 col-md-6 col-sm-12 align-items-center">
				<a href="/uploaded/{{ image.fileLocalisation }}" data-toggle="lightbox" data-gallery="gallery">
					<div class="card d-flex flex-fill align-items-center">
						<img src="/uploaded/{{ image.fileLocalisation }}" class="d-flex img-fluid card-img-top scale-on-hover">
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
{% else %}
	<div class="alert alert-info">
		<i class="fa fa-frown-o fa-fw" aria-hidden="true"></i>
		Aucun compte utilisateur n'a de photos publiques sur cette instance...
	</div>
{% endif %}
