<div class="card">
	<div class="card-body text-center">
		<h5 class="card-title">
			<i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
			Inscription</h5>
		<h6 class="card-subtitle mb-2 text-muted">Simple comme bonjour !</h6>
		<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
			<i class="fa fa-plus-square fa-fw" aria-hidden="true"></i>
			S'inscrire</button>
	</div>
</div>