{# templates/emails/signup.html.twig #}

<h1>Bonjour {{ username }} !</h1>

<p>
    Votre compte a été désactivé suite à trois tentatives de connexion qui ont échoué.
</p>
<p>
    Pour réactiver votre compte, veuillez prendre contact avec l'administrateur de Galerie photo INSSET.
</p>

<p>
    <a href="http://gaetan-le-heurt-finot.insset.ovh">Cliquez-ici pour vous rendre sur Galerie photo INSSET</a>
</p>