{# templates/emails/signup.html.twig #}

<h1>Bonjour {{ username }} !</h1>

<p>
    Le compte de l'utilisateur {{ deactivated_user }} a été désactivé suite à trois tentatives de connexion qui ont échoué.
</p>
<p>
    Si vous souhaitez réactiver son compte, rendez-vous dans votre interface de gestion des utilisateurs de Galerie photo INSSET.
</p>

<p>
    <a href="http://gaetan-le-heurt-finot.insset.ovh">Cliquez-ici pour vous rendre sur Galerie photo INSSET</a>
</p>