{# templates/emails/signup.html.twig #}

<h1>Bonjour {{ username }} !</h1>

<p>
    Votre compte a été supprimé par l'administrateur.
</p>
<p>
    L'ensemble des données associées à ce dernier a été également effacé.
</p>