{# templates/emails/signup.html.twig #}

<h1>Bienvenue {{ username }} !</h1>

<p>
    Vous vous êtes inscrit sur Gallerie photo avec l'adresse de courriel suivante :
</p>
<p><code>{{ email.to[0].address }}</code></p>
<p>
    Votre mot de passe est :
</p>
<p><code>{{ password }}</code></p>

<p>
    <a href="http://gaetan-le-heurt-finot.insset.ovh">Cliquez-ici pour vous rendre sur Gallerie photo</a>
    (this link is valid until {{ expiration_date|date('F jS') }})
</p>